.gumboviSvi{
    font-size: 18px;
    width: 140px;
}
.lijevaMargina{
    margin-left: 10px;
}
.sirinaAdrese{
    width: 200px;
}
.gumbUpisiRest{
    margin-left: 502px;
    margin-top: 10px;
}
.popisParkiralista{
    margin-left: 30px;
    width: 170px;
}
.gumbovi{
    margin-left: 40px;
}
.gornjaMargina{
    margin-top: 10px;
}
.greska{
    color: red;
    font-size: 20px;
    list-style:none;
}
.order-table{  
    margin-top: 10px;
    border-collapse:collapse;
}

.order-table-header{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #BBBBBB;
    padding:16px;
}

.order-table-odd-row{
    text-align:center;
    background:none repeat scroll 0 0 #FFFFFFF;
    border-top:1px solid #BBBBBB;
}

.order-table-even-row{
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:1px solid #BBBBBB;
}